.menu {
 background-color: #f1f1f1;
 box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
 width: 100%;
}
.menu li {
 display: inline-block;
 vertical-align: top;
 padding: 10px;
 color: #6f6d6d;
}
.menu a {
 text-decoration: none; /* Убирает подчеркивание для ссылок */
 color: #6f6d6d;
 }
.menu li:hover {
 background-color: #f87777;
 cursor: pointer;
 color: #f8f8f8;
}
.menu ul {
 padding: 0px;
}
.active{
 background-color: #f87777;
 color: #f8f8f8;
}
.active a:visited{
 color: #f8f8f8;
}
.menu a:hover{
 color: #f8f8f8;
}
.block {
 padding: 10px 20px;
}