<!DOCTYPE HTML>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css"/>
    <title> Карточка читателя </title>
    {% macro render_readers(combo_box, reader_id, len) %}
        <select name="reader" required>
            {% set n = len(combo_box) %}
            <!-- формируем строки списка (каждое значение поля
            reader_name - строка списка) в виде
            <option [selected] value = код_читателя> ФИО </option>
            -->
            {% for i in range(n) %}
                {% set id_r = combo_box.loc[i, "reader_id"] %}
                <!-- атрибут value элемента будет совпадать с id читателя -->
                {% if id_r == reader_id %}
                    <!-- если код читателя из таблицы совпадает с кодом
                    текущего читателя устанавливаем атрибут selected -->
                    <option selected value={{ id_r }}>
                        {% else %}
                    <option value={{ id_r }}>
                {% endif %}
            {{ combo_box.loc[i, "reader_name"] }}
            </option>
            {% endfor %}
        </select>
    {% endmacro %}
    {% macro render_table(table_name, relation, id) %}
    <p>
        <b>{{ table_name }} </b>
    </p>
    <table>
        <tr>
            {% for name in relation.dtypes.index %}
            {% if name != id %}
            <th>{{ name }}</th>
            {% endif %}
            {% endfor %}
        </tr>
        <tbody>

        {% for i in range(len(relation)) %}
        <tr>
            {% for name in relation.dtypes.index %}
            {% if name != id %}
            <td>
                {% if relation.loc[i, name] == None %}
                <form action='' method="get">
                    <input type="hidden" name=return
                           value={{ relation.loc[i, "book_reader_id"]}}>
                    <input type="submit" value="Сдать">
                </form>
                {% else %}
                {{ relation.loc[i, name] }}
                {% endif %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endmacro %}
</head>
<body>
<div class=menu>
    <ul>
        <li class=active><a href={{ url_for("index") }}>Читатель</a></li>
        <li><a href={{ url_for("searchBook") }}>Книги</a></li>
        <li><a href={{ url_for("statistics") }}>Статистика</a></li>
    </ul>
</div>
<div class=block>
    <p>
    <form action='' method="get">
        Читатель:
        {{ render_readers(combo_box, reader_id, len) }}

        <input type="submit" value="Найти">
    </form>
    </p>
    </p>
    <!-- Пока страница не создана, не указывать ее в action -->
    <form action="{{ url_for('index') }}" method="get">
        <input type="submit" name="submitNewReader" value="Новый читатель">
    </form>
    {{ render_table("Карточка",book_reader, "book_reader_id") }}
    </p>
    <!-- Пока страница не создана, не указывать ее в action -->
    <form action={{ url_for('searchBook') }} method="get">
        <input type="submit" value="Взять книгу">
    </form>
    </p>
</div>

</body>
</html>